<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="/bundle.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:300|Open+Sans:300,400,400italic,700,700italic|Lato:300,400' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
	<div id="root"><%- body %></div>
</body>
</html>