$navbar-inverse-link-color: #fff;
$navbar-border-radius: 0;
$navbar-inverse-bg: #262626;
$navbar-inverse-border: transparent;

$brand-primary: #eeb211;

$btn-primary-color: #000;

$logo-font: 'Source Code Pro', Menlo, Monaco, Consolas, "Courier New", monospace;

$font-family-sans-serif:  'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-monospace:  $logo-font;

$headings-font-family:'Lato', Georgia, "Times New Roman", Times, serif;
$headings-font-weight: 400;

$logo-glow-size:3px;
.webdev-logo{
	font-family: $logo-font;
	color:#EEEEEE;
	font-weight:300;

	.navbar-brand a:hover &{
		text-shadow:0 0 $logo-glow-size #EEEEEE;
	}

	@media (max-width:$screen-xs-max){
		font-size:25px;
	}
}
.webdev-logo-gt,
.webdev-logo-webdev{
	color: $brand-primary;

	.navbar-brand a:hover &{
		text-shadow:0 0 $logo-glow-size $brand-primary;
	}
}

.webdev-logo-webdev{
	margin-right:0.225em;
}

.webdev-logo-hyphen{
	color: #FFE08B;
	font-size: 75%;

	.navbar-brand a:hover &{
		text-shadow:0 0 $logo-glow-size #FFE08B;
	}
}

.navbar{
	font-family:$headings-font-family;
}

.navbar-nav li>a{
	text-transform:lowercase;
	font-size:20px;
	padding-top:18px;
	padding-bottom:18px;
	font-weight:200;
}

.navbar-brand{
	font-size: 32px;
	padding: 15px;
	height: 56px;

	@media (max-width:$screen-xs-max){
		padding:13px;
	}

	a{
		text-decoration:none!important;
	}
}

#footer{
	background:$navbar-inverse-bg;
}

$legal-footer-height: 30px;
#legal{
	height:$legal-footer-height;
	padding:7px;
	text-align:center;
	font-size:12px;
	background:#000;
	a{
		color:#ccc;
		&:hover{
			color:#eee;
		}
	}
}

.navbar{
	margin-bottom:0;
}

$footer-height:60px;
#footer{
	padding:20px 0;
	text-align:center;
	height:$footer-height;
	a{
		color:#fff;
	}


	i {
		font-size: 25px;
		margin: 0 7px;
	}
}

.page-home{
	.navbar-inverse,
	#footer{
		background:transparentize($navbar-inverse-bg, .15);
		position:absolute;
		width:100%;
	}

	#footer{
		margin-top:-$footer-height;
	}

	#legal{
		background: rgba(0,0,0,0.85);
		margin-top:-$legal-footer-height;
	}
}

#content{
	padding-top:15px;
	padding-bottom:15px;
	background:#fff;
}

.jumbotron {
	text-align: center;
	color: white;
	height: 50vh;
	display:flex;
	justify-content:center;
	align-items:center;
	box-shadow:inset 0 -10px 10px -10px #000;
}

.home{


	.next-event{
		padding:80px 0;
		text-align:center;
		background:url(./img/home-event-bg.jpg) top center;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+1,0.65+99 */
		background: -moz-radial-gradient(top center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%), url(./img/home-event-bg.jpg); /* FF3.6-15 */
		background: -webkit-radial-gradient(top center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%), url(./img/home-event-bg.jpg); /* Chrome10-25,Safari5.1-6 */
		background: radial-gradient(ellipse at top center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%), url(./img/home-event-bg.jpg); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		background-color:#000;
		background-size:cover;
		min-height:100vh;

		display: flex;
		justify-content: center;
		align-items: center;

		.event-title{
			color:#fff;
			font-size:65px;
			font-weight:300;
			max-width:750px;
			margin:0 auto;
			text-shadow:0 0 20px #000, 0 0 15px #000;

			@media (max-width:$screen-xs-max){
				font-size:40px;
			}
		}

		.event-details{
			color:#fff;
			margin:10px 0 30px;
			text-shadow:0 0 2px #000;
			font-size: 140%;
			font-weight: 300;
		}

		.event-rsvp{
			padding:10px 50px;
		}

		.event-description {
			color: #ccc;
		}
	}

	.next-event-label{
		color:#888;
		font-size:20px;
	}
}

.page-events {
	.next-event {
		background-color: #111;
		color: #fff;
		padding-top: 30px;
		padding-bottom: 30px;

		h2 {
			margin-top: 0;
			font-weight: bold;
			font-size: 38px;
		}

		.next-event-label{
			color: #888;
			font-size: 16px;
		}

		.event-details {
			margin-bottom: 20px;
			color: #ccc;
		}
	}

	.events-list {

		h2 , h3{
			font-weight: bold;
		}

		.event-box {
			width: 75%;
			padding: 5px;
			margin-bottom: 10px;
			border: 2px solid #aaa;
			border-radius: 2px;

			.event-image {
				width: 100%;
			}

			.event-date {
				text-align: center;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 20px;
				color: #aaa;
			}

			.event-title {
				margin-top: 0;
			}
		}
	}
}

.page-privacy {
	.privacy{
		background:#f5f5f5;
	}

	.jumbotron {
		background: linear-gradient(
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)
		), url("./img/privacy-background.jpg") top center/cover;
		background-attachment:fixed;
	}
}

.page-about {
	.about{
		background:#f5f5f5;
	}

	.jumbotron {
		background: linear-gradient(
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)
		), url("./img/about-background.jpg") top center/cover;
		background-attachment:fixed;
	}

	#about-organization h2 {
		margin-top: 0;
	}
	#about-organization p {
		font-size: 1.5em;
		line-height: 1.8em;
	}
	#about-organization img {
		width: 100%;
	}
	.center-heading {
		text-align: center;
		font-weight: bold;
		font-size: 40px;
	}

	.person {
		position: relative;
		overflow: hidden;
		margin-bottom: 30px;
		box-shadow:1px 1px 6px 0 rgba(0,0,0,.3);

		* {
			padding: 0;
			margin: 0;
		}

		p{
			min-height:66px;
			font-size:16px;
		}

		.profile-photo {
			float: left;
			margin: 10px;
			border-radius: 50%;
			border: 4px solid white;
			box-sizing: content-box;
			width: 100px;
			height: 100px;
			overflow:hidden;
			position:relative;

			img{
				width:100px;
				height:100px;
			}

			.graduation-year{
				background: rgba(238,178,17,0.8);
				color: #fff;
				position: absolute;
				bottom: 0;
				width: 100%;
				text-align: center;
				padding: 4px;
				font-weight: 700;
				font-size: 16px;
			}
		}

		.main {
			color: white;
			height: 130px;
			box-sizing: border-box;
		}

		.name-area {
			background-color: #333;
			padding: 10px;
			height: 65%;
			box-sizing: border-box;

			h3 {
				margin-bottom: 5px;
			}
		}

		.links-area {
			background-color: #515151;
			height: 40%;
			line-height: 42px;
			i{
				vertical-align: middle;
				width: 32px;
				border-radius: 50%;
				margin-right: 5px;
				background: #fff;
				color: #333;
				text-align: center;
				height: 32px;
				font-size: 21px;
				line-height: 32px;

				&:hover{
					background:#333;
					color:#fff;
				}

				&.fa-github,
				&.fa-globe{
					font-size:37px;
					background:#333;
					color:#fff;
					border:1px solid #fff;

					&:before{
						margin-left:-1px;
					}

					&:hover{
						border-color:#333;
						background:#fff;
						color:#333;
					}
				}
			}
		}

		.description-area {
			padding: 10px;
			background:#fff;
		}
	}
}

.page-connect {
	.jumbotron {
		background: linear-gradient(
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)
		), url("./img/connect-background.jpg") top center/cover;
		background-attachment:fixed;
	}

	@media (min-width: 768px) {
		.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
			float: right;
		}
	}

	.connect-action {
		color: black;
	}

	.connect-action:hover {
		text-decoration: none;

		.action-icon {
			background: #262626;
			text-shadow: 0 0 5px #eeb211;
		}
	}

	.action-icon {
		width: 100%;
		font-size: 100px;
		text-align: center;
	}
	.action-text {
		font-size: 32px;
	}

	.action-facebook .action-icon {
		background: #425896;
		color: white;
	}

	.action-youtube .action-icon {
		background: #ce3b21;
		color: white;
	}

	.action-envelope .action-icon {
		background: #eeb211;
		color: white;
	}

	#footer {
		margin-top: 30px;
	}
}
