$navbar-inverse-link-color: #fff;
$navbar-border-radius: 0;
$navbar-inverse-bg: #262626;
$navbar-inverse-border: transparent;

$brand-primary: #eeb211;

$btn-primary-color: #000;

$logo-font: 'Source Code Pro', Menlo, Monaco, Consolas, "Courier New", monospace;

$font-family-sans-serif:  'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-monospace:  $logo-font;

$headings-font-family:'Lato', Georgia, "Times New Roman", Times, serif;
$headings-font-weight: 400;